<%- include ('partials/header') %>
<div class="jumbotron">
  <h1 class="display-4">Vidzy Application</h1>
  <p class="lead">This is the list of movies.</p>
  <a class="btn btn-primary btn-lg" href="/videos/new" role="button">Add a new Video</a>
</div>
<div class = "container">
	<div class= "row">
		<div class = "col-sm-6">
			<form method = "GET" action="/videos" > 
			<label> Search by Title:</label>
			<input class="form-control" type="text" placeholder="Search " aria-label="Search" name="title">
		</div>
		<div class = "col-sm-2">
  			<label >Filter by genre:</label>
  			<select class="form-control" name = "genre">
  				<option value = ''>None</option>
  			<% videos.forEach(function(video){ %>
    			<option value = "<%= video.genre %>"><%= video.genre %> </option>
    		<% }); %>
  			</select>
  		</div>
  		<div class = "col-sm-2">
 			<br> 
  			<button type="submit" class="btn btn-primary" >Search</button>
  		</div>
  
  		</form>

 		 		
  	</div>
 </div>

<div class="container">
<div class="row">
<% videos.forEach(function(video){ %>
	<div class="sm-col-3">
		<img src="images/<%= video.image %>" style="width:200px; height:200px;" class="img-thumbnail"/>
		<div class="caption"><a href="videos/<%= video._id %>"><%= video.title %></a></div>
	</div>


<% }); %>

</div> 
</div>

<div class="container">
		<a class="btn btn-primary" href="/" role="button">Refresh</a>
</div>


<%- include ('partials/footer') %>

